<%= content_for :title do %>
  <h1>About 96k Maratha </h1>
<% end %>
<div>
<p> <%= t ('about.p1')%>  </p>
</div>
<div>
<p> <%= t ('about.p2')%> </p>
</div>
<div>
<p> <%= t ('about.p3')%> </p>
</div>
<div>
<P> <%= t ('about.p4')%>
 <a maratha96kuli.com</a>
</p>
</div>




